<?xml version='1.0' encoding='utf-8'?>
<widget id="ntou.soselab.tcse2016" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TCSE2016</name>
  <description>
    台灣軟體工程研討會是臺灣提供產、官、學、專家與學者，研討軟體工程原理、實務與最新技術發展與研究成果的最主要園地。本次大會的主題為「Software Engineering for IoT」，將探討軟體工程技術如何運用於物聯網(Internet of Things, IoT)系統之相關議題。大會除精選軟體工程領域論文以饗與會者之外，更將邀請國內外物聯網軟體技術領域的標竿人物與會，歡迎國內外軟體工程界精英共襄盛舉。本次研討會將同時召開台灣軟體工程學會會員大會。
  </description>
  <author email="tcse2016@gmail.com" href="http://www.seat.org.tw/TCSE2016/">
    TCSE2016
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon density="mdpi" src="res/android/mdpi.png"/>
    <icon density="hdpi" src="res/android/hdpi.png"/>
    <icon density="xhdpi" src="res/android/xhdpi.png"/>
    <icon density="xxhdpi" src="res/android/xxhdpi.png"/>
    <icon density="xxxhdpi" src="res/android/xxxhdpi.png"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <engine name="android" spec="~5.1.1"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <plugin name="cordova-plugin-file-opener2" spec="~2.0.2"/>
  <plugin name="cordova-plugin-file" spec="~4.2.0"/>

  <!-- Allow links to web pages to open in a browser -->
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>

  <!-- Allow links to example.com to open in a browser -->
  <allow-intent href="http://example.com/*"/>

  <!-- Wildcards are allowed for the protocol, as a prefix
     to the host, or as a suffix to the path -->
  <allow-intent href="*://*.example.com/*"/>

  <!-- Allow SMS links to open messaging app -->
  <allow-intent href="sms:*"/>

  <!-- Allow tel: links to open the dialer -->
  <allow-intent href="tel:*"/>

  <!-- Allow geo: links to open maps -->
  <allow-intent href="geo:*"/>

  <!-- Allow all unrecognized URLs to open installed apps
     *NOT RECOMMENDED* -->
  <allow-intent href="*"/>
</widget>
